.successButton ,button{
    float: left;
}

.successButton {
    width:300px;
    height: 200px;
    margin: 50px 50px 50px 50px;
   
    
}
.button{
    width: 200px;
    height: 60px;
    margin: 50px 10px 10px 50px;
    border-radius: 20px;
   
    background: #38EEA5;
    text-align: center;
}
.text-button{
    color: white;
    font-size: 21px;
    padding-top: 15px;
    display: block;
}
.img-button{
    display: none;
    padding-top: 13px; 
}
.loader{
    width: 50px;
    height:50px;
    border-radius:50%;
    background: red;
}
