.successButton ,button{
    float: left;
}

.successButton {
    width:300px;
    height: 200px;
    margin: 50px 50px 50px 50px;
   
    
}
.button{
    width: 200px;
    height: 60px;
    margin: 50px 10px 10px 50px;
    border-radius: 20px;
    display: block;
    border-color: white;
    outline-style: none;
    background: #1ECD97;
    border: 2px solid transparent;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: 0.6s;
}
.text-button{
    color: white;
    font-size: 21px;
    padding-top: 15px;
    display: block;
}

.loader{
    width: 50px;
    height:50px;
    border-radius:50%;
    display: inline-block;
    position: relative;
    background: white;
    
}

.loader:before {
    content: '';
    display: block;
    position: absolute;
    top:-5px;
    left: -5px;
    width: 50px;
    height:50px;
    border-radius:50%;
    border: 4px solid #eee;
    border-top-color:red; 
    animation: loader 2s  linear infinite;
    
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
       
    }
    100% {
        transform: rotate(360deg);
        transition: 2s;
    }
}
